body {
  background-color: #191919;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
}
.wrapper {
  width: 1440px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.content {
  width: 1300px;
  margin: auto;
  flex: 1 1 auto;
}

/* HEADER */

.header {
  width: 100%;
}
.header__wrapper {
  margin: 30px 50px;
  display: flex;
  justify-content: space-between;
}
.header__logo-link {
  align-self: center;
}
.header__links-list {
  font-size: 17px;
  display: flex;
  width: 403px;
  justify-content: space-between;
  padding: 20px;
}

.header__links-list-item_active {
  color: #118da8;
}

/* Greeting section */

.greeting__section {
  width: 1300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 40px auto 0px;
}
.wrapper__section {
  display: flex;
  flex-direction: column;
  padding: 300px 60px 0;
  flex-grow: 0;
}
.greeting__section-title {
  min-height: 264px;
  font-size: 70px;
  letter-spacing: 0.1em;
  line-height: 123%;
}
.section__title-modified {
  font-size: 75px;
}
.section-title-bold {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0.12em;
}
.section__social-list-title {
  font-size: 15px;
  margin: 90px 23px 10px;
}
.section__social-list {
  display: flex;
  gap: 17px;
  margin: 10px 23px;
  flex-grow: 0;
  flex-wrap: wrap;
}

/* Content section */
.content-section {
}
.content-section__subtitle-wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 105px 0px -25px;
}
.content-section__subtitle {
  font-size: 64px;
  letter-spacing: 0.1em;
}
.button {
  font-size: 18px;
  color: #ffffff;
  background-color: #118da8;
  border-radius: 5px;
  padding: 13px 19px;
}
.small-button {
  font-size: 17px;
  padding: 12px 18px;
  align-self: center;
}
.cards-list {
}
.card {
  width: 1300px;
  background-color: #000000;
  border-radius: 30px;
  padding: 40px;
  margin: 60px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card__image {
  grid-area: 1/1;
  border-radius: 5px;
}
.card__content {
  grid-area: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px 0px 52px;
}
.card__content .button {
  align-self: flex-start;
  align-items: flex-end;
}
.card__tag {
  font-size: 18px;
  background-color: #191919;
  border-radius: 5px;
  padding: 2px 16px;
}
.card__episode {
  font-size: 17px;
  color: #118da8;
  letter-spacing: 0.03em;
  margin-top: 34px;
}
.card__title {
  font-size: 65px;
  letter-spacing: 0.1em;
  line-height: 110%;
  margin-bottom: -20px;
  align-self: flex-start;
}
.card_text {
  font-size: 22px;
  letter-spacing: 0.09;
  line-height: 150%;
  padding-top: 20px;
  color: #b4b4b4;
}

/* Offer section  */

.section__offer {
  display: flex;
  flex-direction: row-reverse;
  margin: 260px 0 200px;
}
.author_section {
  display: flex;
  flex-direction: column;
}
.offer__image {
}
.offer__link {
  margin: 150px 0 25px 0;
  align-self: start;
  width: 112px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #118da8;
  border-radius: 50%;
}
.offer__link-title {
  color: #118da8;
  font-size: 18px;
}
.offer__title {
  font-size: 65px;
  letter-spacing: 0.1em;
  padding: 10px 0 0;
}

.offer__text {
  padding: 35px 95px 0 0;
  font-size: 22px;
  letter-spacing: 0.09;
  line-height: 150%;
  color: #b4b4b4;
}

/* subscribe section */
.subscribe__section{
    background-color: #000000;
    border-radius: 30px;
    min-height: 387px;
    padding: 60px;
    display:  grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 130px;
    margin-bottom: 200px;
}

.subscribe__section-subtitle {
    grid-area: 1/1;
    color: #118da8;
    font-size: 18px;
   
}

.subscribe__section-title {
    grid-area: 1/1;
    font-size:  72px ;
    width: 430px;
    letter-spacing: 0.09em;
    padding: 10px 0;
    line-height: 110%;
}

.subscribe__section-form {
display: flex;
flex-direction: column;
gap: 20px;
}
.subscribe__section-form-input{
font-size: 24px;
background-color: #191919;
padding: 26px 20px;
border-radius: 5px;
}
.subscribe__section-form .button {
    padding: 13px 15px;
align-self: flex-start;
}

/* feedback section */
.section__feedback {
    min-height: 700px;
}
.section__feedback-list {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns:repeat(3,1fr) ;
    gap: 16px ;
}
.feedback__rating
{
    width: 110px;
}
.section__feedback-list-item {

    background-color: #000000;
    border-radius: 30px;
    padding: 54px 50px 0;
}
.feedback__comment {
    
    font-size: 36px;
    letter-spacing: 0.04em;
    line-height: 130%;
    margin: 15px 0 19px 0;
}
.author__comment {
    font-size: 24px ;
    color:#b4b4b4 ;
    margin-bottom: 50px;
}